<div class='ui fluid center aligned container'>
    <br />
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Billboard_logo.svg/2000px-Billboard_logo.svg.png" height= '137' width= '500' />
    <br />
    <h1><%= @billboard.name %></h1>
    <br />
    <%= button_to "Edit Billboard", edit_billboard_path(@billboard), method: :get, class: 'ui tiny secondary button' %>
    <br />
    <%= button_to "Delete Billboard", @billboard, method: :delete, class: 'ui tiny secondary button' %>
    <br />
    <%= button_to "Back", billboards_path, method: :get, class: 'ui tiny secondary button' %>
    <br />
    <% @songs.each do |song| %>
    <% if @array != nil %>
    <% if @array.include? song.id.to_s %>
    <%= song.title %>
    <% end %>
    <% end %>
    <% end %>
    <br />
    <br />
    <%= button_to "Add Song", add_song_billboard_path(@billboard), method: :get, class: 'ui tiny secondary button' %>
</div>
