<h1><%= @billboard.name %></h1>
<%= link_to "Edit Billboard", edit_billboard_path(@billboard) %>
<%= link_to "Delete Billboard", @billboard, method: :delete %>
<hr />
<%= link_to "Back", billboards_path %>
<% @billboard.songs.each do |song| %>
<%= song.title %>
<% end %>
<h1>Songs</h1>
<%= link_to "Add song", add_song_billboard_path %>
